.Navbar{
    font-size: large;
    background-color: transparent;
    margin-top: -5vh;
    margin-bottom: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
}
.Navbar2{
    font-size: large;
    background: hsla(0, 0%, 50%, 1);

    background: linear-gradient(180deg, hsla(0, 0%, 50%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
    
    background: -moz-linear-gradient(180deg, hsla(0, 0%, 50%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
    
    background: -webkit-linear-gradient(180deg, hsla(0, 0%, 50%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#808080", endColorstr="#E2E2E2", GradientType=1 );
    margin-top: -5vh;
    margin-bottom: 0;
    position: relative;
    padding-top: .5vh;
    padding-bottom: .5vh;
    z-index: 2;
}
.Nav{
    color: white;
    margin-left: 1vw;
    margin-right: 1vw;
}
.NavContainer{
    text-align: right;
}
#blog-dropdown, #Trading-Records-Dropdown{
    color: white;
}
.NavDropdown{
    font-size: 50 px;
}